@use "../variables/colors" as color;
@use "../variables/fonts" as fonts;

@mixin blob(
  $bg-color: color.$light,
  $color: color.$dark,
  $border-radius: 2rem,
  $border: 1px solid color.$light
) {
  background: $bg-color;
  color: $color;
  border-radius: $border-radius;
  border: $border;
  font-size: 0.4rem;
  max-width: fit-content;
  display: inline-block;
  padding: 0.3rem 0.4rem;
  padding-right: 0.3rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-weight: 700;
  flex: none;
  &:hover {
    background-color: $color;
    color: $bg-color;
  }
}

@mixin button($bg-color: color.$light, $color: color.$compliment) {
  font-family: fonts.$primary-font;
  border-radius: 1rem;
  letter-spacing: 0.15rem;
  padding: 1.5rem 0;
  font-weight: 700;
  cursor: pointer;
  background: #4e4e626d;
  color: color.$light;
  display: inline-block;
  border: none;
  &:hover {
    background-color: color.$secondary;
    color: color.$dark;
  }
}